@import url(https://fonts.googleapis.com/css?family=Encode+Sans:100,300,400,500,700,900);

.app {
  text-align: center;
}

.navbar {
  z-index: 3;
  width: 100%;
  font-family: 'Encode Sans', sans-serif;
  height: 130px;
  margin-top: 10px;
  color: white;
  position: relative;

  @media (max-width: 772px) {
    font-size: 22px;
  }

  @media (max-width: 384px) {
    font-size: 20px;
  }

  .mobile-checkout, .desktop-checkout {
    position: absolute !important;
    top: 10px !important;
    right: 10px !important;
  }

  .mobile-checkout {
    width: 60px !important;
    padding-left: 10px !important;
  }
}

.haru-logo {
  display: inline-block;
  left: 50%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  width: 100px;
}

.banner {
  width: 100%;
  height: 50vw;
  max-height: 500px;
  object-fit: cover;
}

h2 {
  margin: 0px;
  display: inline-block;
}

.grid {
  margin: 0 !important;
}

.column {
  position: relative !important;
}

.slick-slider {
  overflow: hidden;

  .banner-picture {
    display: flex !important;
    height: 350px;

    img {
      display: block;
      background-size: cover;
      object-fit: cover;
      width: 99%;
    }
  }
}

.head-slider {
  .slick-list {
    padding: 0 !important;
    margin: 0 52px;
  }
}

.blue.message {
  font-size: 24px;
}

.red.button {
  background-color: white !important;
  color: red !important;
  font-size: 20px !important;
}

@media (max-width: 767px) {
  .mobile-item-details {
    display: inline-block;
  }

  .item-details {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-item-details {
    display: none;
  }

  .item-details {
    display: block;
  }
}

.hl-top, .hl-bot {
  position: absolute;
  left: 25%;
  width: 50%;
  border-top: 2px solid rgba(0,0,0,0.15);
}

.hl-top {
  top: -1px;
}

.hl-bot {
  bottom: -1px;
}

.vl-left, .vl-right {
  position: absolute;
  top: 25%;
  height: 50%;
  border-left: 2px solid rgba(0,0,0,0.15);
}

.vl-left {
  left: -1px;
}

.vl-right {
  right: -1px;
}

.item {
  padding: 10px;

  .mobile-item-details {
    margin-bottom: 20px;

    ul {
      margin: auto;
      text-align: left;
    }
  }

  .item-details {
    text-align: center;
    left: 20px;
    transition: all 0.1s ease-in-out;
    transform: scale(0) translateX(-50%) translateY(-50%);
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 265px;
    z-index: 5;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border: 2px solid rgba(0,0,0,0.2);

    ul {
      text-align: left;
      padding-left: 20px;

      li {
        font-size: 12px;
      }
    }
  }

  &:hover {
    .item-details {
      transform: scale(1) translateX(-50%) translateY(-50%);
    }
  }

  .sold-out {
    opacity: 0.4;
  }

  .field {
    b {
      display: block;
      margin: 10px 0;
    }

    label {
      display: inline-block !important;
      margin: 0 10px !important;
    }

    .dropdown {
      display: inline-block !important;
    }

    .size-dropdown {
      width: 96px;
    }

    .quantity-dropdown {
      width: 52px;
    }

    span {
      display: inline-block !important;
    }
  }
}

.makeDim {
  animation: dimBackground 0.5s;
  animation-fill-mode: forwards;
}

@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(dimBackground) {
  0% { background-color: rgba(0,0,0,0); }
  100% { background-color: rgba(0,0,0,0.25); }
}

.item-status {
  position: absolute !important;
  left: 18px !important;
  top: 22px !important;
  z-index: 1 !important;
}

.body-container {
  .button .icon {
    width: 46px !important;
  }
}

.item-price {
  top: 90px !important;
  right: 23px !important;
  left: initial !important;
}

.item-image {
  height: 400px;

  img {
    max-height: 400px;
    width: auto !important;
    margin: auto;
  }
}

#clear {
  clear: both;
}

.attached.header {
  background-color: orange !important;
  color: white !important;
}



.body-container {
  clear: both;
}

.added-to-cart-message {
  position: fixed !important; 
  left: calc(50% - 162px) !important;
  top: 16px !important;
  padding-right: 30px !important;
  z-index: 100;
}

.four.column.grid {
  height: inherit;
}

.ui.table img {
  width: 50px;
}

.item {
  .form {
    label {
      font-weight: 700;
    }
  }
}

tfoot.full-width th {
  text-align: right !important;
  font-weight: bold !important;
}

.checkout-modal {
  .fieldSpan {
    input::placeholder {
      color : rgba(0,0,0,0.6) !important;
    }
  }

  .fullName, .street {
    margin-bottom: 10px;
    width: 100%;
  }

  .city {
    width: 34%;
  }

  .city, .state {
    padding-right: 10px;

    input {
      width: 100%;
    }
  }

  .state, .zip {
    padding-left: 10px;
    width: 33%;

    input {
      width: 100%;
    }
  }

  .blue.button {
    margin-top: 20px;
    margin-bottom: 10px;
    float: right;
  }

  .grid {
    .paypal-col {
      display: flex !important;
      pointer-events: none;
      opacity: 0.5;

      .paypal-div {
        margin: auto;
        height: 40px;
      }
    }
  }

  @media (max-width: 768px) {
    .remove-item-td {
      float: right;
      margin: -15px;
    }

    .item-img-td {
      float: right;

      img {
        width: 100px;
      }
    }

    .grid {
      border: none;

      .column {
        width: 100% !important;
        border: solid 0.5px #d6d6d6;
        border-radius: 5px;
      }

      .paypal-col {
        margin-bottom: 10px;
      }
    }
  }
}

