@import url(https://fonts.googleapis.com/css?family=Encode+Sans);

.App {
  text-align: center;
}

.App-header {
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  font-family: 'Encode Sans', sans-serif;
  text-align: left;
  font-size: 38px;
  font-weight: 900;
  padding: 23px !important;

  button {
    top: -8px !important;
  }
}

@media (max-width: 428px) {
  .App-header {
    font-size: 28px;
  }
}

@media (max-width: 367px) {
  .App-header {
    font-size: 25px;
  }
}

.App-intro {
  margin-top: 77px;
}

.App-logo {
  height: 60px;
  display: inline-block;
  padding: 5px;
  float: left;
  margin-top: -20px;
}

h2 {
  margin: 0px;
  display: inline-block;
}

.grid {
  margin: 0 !important;
}

.column {
  position: relative !important;
}

.banner-picture {
  display: -webkit-inline-box !important;

  img {
    background-size: cover;
    object-fit: cover;
    height: 250px;
    width: 99%;
  }
}

.mobile-checkout {
  width: 45px !important;
  padding: 12px !important;
  position: relative !important;
  margin-right: -8px !important;
  margin-top: -19px !important;

  .icon {
    padding: 0px !important;
    width: 21px !important;
  }
}

.slick-list {
  overflow: hidden;
}

.slick-slider {
  button {
    position: absolute;
    top: calc(50% - 25px);
    z-index: 2;
    background: transparent;
    border: none;
    outline: 0;
    &:hover {
      color: #0688fe;
    }
  }
}

.red.button {
  background-color: white !important;
  color: red !important;
  font-size: 20px !important;
}

.fa-chevron-circle-left {
  left: -4%;
}

.fa-chevron-circle-right {
  right: -4%;
}

.item {
  .segment {
    background-color: #e8e8e8; 
  }

  .sold-out {
    opacity: 0.4;
  }

  .field {
    b {
      display: block;
      margin: 10px 0;
    }

    label {
      display: inline-block !important;
      margin: 0 10px !important;
    }

    .dropdown {
      display: inline-block !important;
      width: 30% !important;
    }

    span {
      display: inline-block !important;
    }
  }
}

.item-status {
  position: absolute !important;
  left: 18px !important;
  top: 22px !important;
  z-index: 1 !important;
}

.App-intro {
  .button .icon {
    width: 46px !important;
  }
}

.item-price {
  top: 90px !important;
  right: 23px !important;
  left: initial !important;
}

.attached.segment .field {
  text-align: left;
}

#clear {
  clear: both;
}

.attached.header {
  background-color: orange !important;
  color: white !important;
}

.App-header {
  background-color: #222;
  height: 72px;
  padding: 20px;
  color: white;
}

.App-header .left.labeled.button {
  top: -6px !important;
}

.App-header .mobile-checkout {
  top: 9px !important;
}

.App-intro {
  font-size: large;
  clear: both;
}

.added-to-cart-message {
  position: fixed !important; 
  left: calc(50% - 162px) !important;
  top: 16px !important;
  padding-right: 30px !important;
  z-index: 100;
}

.four.column.grid {
  height: inherit;
}

.ui.table img {
  width: 50px;
}

tfoot.full-width th {
  text-align: right !important;
  font-weight: bold !important;
}

@media (max-width: 798px) {
  .App-header h2 {
    display: none;
  }
}
