.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  display: inline-block;
  padding: 5px;
  float: left;
  margin-top: -14px;
}

h2 {
  margin: 0px;
  display: inline-block;
}

.grid {
  margin: 0 !important;
}

.column {
  position: relative !important;
}

.item-status {
  position: absolute !important;
  left: 18px !important;
  top: 22px !important;
  z-index: 1 !important;
}

.button .icon {
  width: 46px !important;
}

.item-price {
  top: 90px !important;
  right: 23px !important;
  left: initial !important;
}

.attached.segment {
}

.attached.segment .field {
  text-align: left;
}

#clear {
  clear: both;
}

.attached.header {
  background-color: orange !important;
  color: white !important;
}

.App-header {
  background-color: #222;
  height: 72px;
  padding: 20px;
  color: white;
}

.App-header .button {
  top: -5px;
}

.App-intro {
  font-size: large;
  clear: both;
}

.added-to-cart-message {
  position: fixed !important; 
  left: calc(50% - 162px) !important;
  top: 16px !important;
  padding-right: 30px !important;
  z-index: 100;
}

@media (max-width: 798px) {
  .App-header h2 {
    display: none;
  }
}
